[Desktop Entry]
Name=Gtk+ interface for X264
GenericName=Video encoder
Comment=Gtk+ interface to configure X264
Exec=x264_gtk_encode
Terminal=false
Icon=x264
Type=Application
Encoding=UTF-8
Categories=Video;AudioVideoEditing;GTK;
